// 
// Features
// 


#features {
    background-color: #F3F3F3;
    position: relative;
    #video {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;

        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }
    .features-cards {
        z-index: 2;
        position: relative;
    }
}

// Styling for the features icons
.icon-feature {
    font-size: 4rem;
}

